<section>
    <mat-card  >
        <mat-card-header>
          <mat-card-title>Employee Search</mat-card-title>
        </mat-card-header>
        <mat-card-content>
         
                <form [formGroup]="profileForm" (ngSubmit)=updateEmployee(profileForm)>
                <div   fxLayout="column"   >
                        <mat-form-field appearance="outline">
                            <mat-label>Employee ID</mat-label>
                            <input readonly matInput formControlName="employeeId">
                        </mat-form-field>    
                  
    
                        <mat-form-field appearance="outline" >
                            <mat-label>Employee Name</mat-label>
                            <input matInput formControlName="employeeName">
                        </mat-form-field>
    
                        <mat-form-field appearance="outline">
                            <mat-label>Mobile Number</mat-label>
                            <input matInput formControlName="employeeMobile">
                        </mat-form-field>  

                  
                        <div   formGroupName="address"  fxLayout.sm="column" fxLayout.xs="column"  fxLayout="row"     fxLayoutGap="10px"  >
                        
                                    <mat-form-field appearance="outline"  >
                                        <mat-label>Address </mat-label>
                                        <input  matInput formControlName="line1">
                                    </mat-form-field>    
                               
                                    <mat-form-field appearance="outline" >
                                        <mat-label>City</mat-label>
                                        <input matInput formControlName="city">
                                    </mat-form-field>

                                    <mat-form-field class="example-full-width">
                                        <mat-label>Country</mat-label>
                                        <input type="text"
                                               placeholder="Pick one"
                                               aria-label="Number"
                                               matInput
                                               formControlName="country"
                                               [matAutocomplete]="auto">
                                        <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
                                          <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
                                            {{option}}
                                          </mat-option>
                                        </mat-autocomplete>
                                      </mat-form-field>
            
                                 
                              

                                 
                               
                        </div>

                        <mat-form-field appearance="outline">
                            <mat-label>Employee Email</mat-label>
                            <input matInput formControlName="employeeEmail">
                        </mat-form-field>  

              

                        <mat-form-field appearance="fill">
                            <mat-label>Department</mat-label>
                            <mat-select formControlName="departmentName" required>
                              <mat-option>--</mat-option>
                              <mat-option *ngFor="let item of departments" [value]="item">
                                {{item.departmentName}}
                              </mat-option>
                            </mat-select>
                         
                          </mat-form-field>

                        

                        <div> 
                             <button type="submit"  mat-stroked-button color="primary" >Search</button>&nbsp;	
                             <button  (click) = "closeDialog()"  mat-stroked-button color="primary" >Close</button>&nbsp;	
                    	</div>
                             
                      
              </div>
           </form> 
          </mat-card-content>  
      </mat-card>
      
      </section>